@model xcentium_code_challenge.Models.UserModel

@{
    ViewBag.Title = "Dashboard";
}

<div class="hero-image">
    <div class="hero-text">
        <fieldset>
            <legend>User Dashboard</legend>
            @if (ViewBag.Name != null)
            {
                <p>Welcome @(ViewBag.Name + '!')</p>
            }
            <form asp-action="Logout" , asp-controller="Home" method="post">
                <button type="submit" name="button">Logout</button>
            </form>
        </fieldset>
    </div>
</div>